.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height: 8vh;
    background-color: white;
}

.logo {
    max-height: 100%;
}

.header-avatar {
    margin: 1vh auto auto auto;
}

.logout {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

