.login-signup {
  background-image: url("../../images/IMG_4788.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  background-position: center;
  
}